<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>NBA3</title>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
<meta name="author" content="gavinning, waynelu, rocksun">
<meta name="copyright" content="Copyright (c) 1998-2013 Tencent.">
<meta name="description" content="NBA3">
<meta name="format-detection" content="telephone=no">
<link rel="apple-touch-icon-precomposed" href="http://3gimg.qq.com/info/touch/nba3/images/desk-icon.png">
<link rel="stylesheet" href="http://gavinning.kf0309.3g.qq.com/webapp_html/info/nba3/css/nba3.css">
</head>
<body>
<div class="page"> 
$$__body$$
</div>
</body>
</html>